Container styling
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styling */
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Review list styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

li p {
    margin: 5px 0;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #51b530;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #b22929;
}

/* Loading and error messages */
p.loading {
    text-align: center;
    font-size: 18px;
    color: #666;
}

p.error {
    text-align: center;
    font-size: 18px;
    color: red;
}
